html {
    font-size: 20px;
}

#container {
    font-size: 30px;
}

#container>div {
    background-color: darkgreen;
}

#pixele {
    width: 40px;
}

#em {
    width: 40em;
}

#ex {
    width: 20ex;
}

#rem {
    width: 20rem;
}

#procenty {
    width: 40%;
}

#vw {
    width: 60vw;
}

#vh {
    width: 60vh;
}

#vmin {
    width: 60vmin;
    font-size: 3vmin;
}

#vmax {
    width: 60vmax;
    font-size: 3vmax;
}

#cm {
    width: 20cm;
}

#mm {
    width: 200mm;
}
#pixel{
    background-color: red;
    height: 96px;
    width: 96px;
}
#cal{
    background: blue;
    height: 1in;
    width: 1in;
}