body{
    display: block;
}
.box:{
    width: 150px;
    height: 150px;
    background: red;
}
#box1:hover{
   width: 300px;
    background:blue;
    

}
#box2:hover{
height: 300px;
    background: green;
}

#box3:hover{
    height: 300px;
    width: 300px;
    background: yellow;
}