body{
  
}
.box:{
    background-color: red;
    width: 150px;
    height: 150px;
    transition: all 0.5s ease-in;
    padding: 10px;
    margin: 5px;
  
}
#box1:hover{
   width: 300px;
    background:blue;
    

}
#box2:hover{
height: 300px;
    background: green;
}

#box3:hover{
    height: 300px;
    width: 300px;
    background: yellow;
}