/*selektor znacznika*/

p {
    color: violet;
}


/*selekror ID */

#yerba {
    color: green;
    font-size: 30px;
    background-color: chocolate;
}


/*laczenie selektorow */

a,
span {
    color: blue;
}


/* selekror bezposredniego elementu potomnego */

#element-potomny>p {
    color: red;
    font-size: 40px;
}


/* selekror elementow potomnych */

#elementspacja p {
    color: lime;
}


/*selektor bezposredniego rodzenstwa */

#rodzenstwo>div=div {
    color: orangered;
}


/*selektor calego rodzenstwa */

#cale-rodzenstwo>div=div~div {
    color: magenta;
}


/* selekror wykluczajacy*/

ul>li.list-item:not(.wykluczone) {
    color: aqua
}


/* Selektor kolejnego elemetu potomnego*/

ol>li:nth-child(3) {
    background-color: lightgreen
}