/*selektor znacznika*/

p {
    color: green;
}


/*selekror ID */

#yerba {
    color: pink;
}

<!--laczenie selektorow-->div,
a,
span {
    color: blue;
}
<!--selekror bezposredniego elementu potomnego-->
div#element-potomny > p {
    color: darkred;
}
<!--selekror elementow potomnych-->
div#elementspacja  p {
    color: lime;
}

/*selektor bezposredniego rodzenstwa */
div#rodzenstwo >div =div {color:orangered;}

/*selektor calego rodzenstwa */
div#cale-rodzenstwo >div =div ~ div {color: magenta;
}

/* selekror wykluczajacy*/
ul > li.list-item:not(.wykluczone) {
    color: aqua
}

/* Selektor kolejnego elemetu potomnego*/
ol >li:nth-child(3) {
    background-color: lightgreen
}